bin
obj
csx
.vs
edge
Publish
.DS_Store

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data

/notebooks/*.tif
.secrets
appsettings.json
local.settings.json

batch_run/*images/

node_modules
dist
.ruff_cache

# Local python packages
.python_packages/

# Python Environments
.env
.env.*
.venv*
env/
venv/
container/*
ack/
ENV/
env.bak/
venv.bak/
run.log
*.zip
fastapi/
exp/


*.Tif

batch_run/input/*
batch_run/output/*
batch_run/output_grouped/*

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# coverage
.coverage
coverage.xml
test_results.html
cover_agent_unit_test_runs.db
htmlcov/

/.vscode/
evaluation_result*/
gt/
pred/

## ignore global idp src code
global_idp_src/
batch_run/*images/
eval/


temp.py
tiff_base64.txt
output

eval_script/evaluation/
batch_run/unzip_images
evaluation_result*/
eval_script/evaluation/
openai_withOCR_simplifed_result/
testing_output_result
testing_output_result_baseline
app/evaluation/output/*
app/evaluation/input/*
.idea/*
